.accountContainer {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 90%;
    gap: 1em;

    h1 {
        text-align: center ;
    }

    .taskContainer {
        display: flex;
        flex-direction: column;
        gap: 0.5em;

    }
}