.editTaskContainer {
  width: 100%;
  min-height: 100vh;
  padding: $space-xl $space-md;
  text-align: center;
  font-family: $allFonts;

  h1 {
    margin: $space-md 0 $space-xl;
    font-size: $h1Size;
  }

  form {
    width: 100%;
    margin: 0 auto;
    text-align: left;

    > div {
      margin-bottom: $space-lg;
    }
  }

  label {
    display: block;
    margin-bottom: $space-xs;
    font-size: $pSize;
    font-family: $allFonts;
  }

  input[type="text"] {
    width: 100%;
    border: 1px solid $borderGray;
    border-radius: $radius-md;
    padding: $space-sm;
    font-family: $pFont;
  }

  input[name="taskContent"] {
    height: 180px;
  }
}

.switchBlock {
  width: 220px;
  margin-top: $space-sm;

  .switch-item {
    margin-bottom: $space-md;

    p {
      margin: 0 0 $space-xs;
      font-size: $pSize;
      font-family: $allFonts;
    }
  }

  button[type="submit"] {
    margin-top: $space-sm;
    width: 70px;
    height: 32px;
    border: none;
    border-radius: $radius-sm;
    background: $blue;
    color: $white;
    font-family: $pFont;
  }
}

.switch {
  position: relative;
  width: 60px;
  height: 30px;
  display: inline-block;

  input {
    display: none;
  }

  .slider {
    position: absolute;
    inset: 0;
    background: $gray;
    border-radius: $radius-pill;

    &::before {
      content: "";
      position: absolute;
      width: 22px;
      height: 22px;
      background: $white;
      border-radius: 50%;
      top: 4px;
      left: 4px;
    }
  }

  input:checked + .slider {
    background: $blue;

    &::before {
      transform: translateX(30px);
    }
  }
}