.indexContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: $containerMargin;
    
    article:first-of-type {
        display: flex;
        flex-direction: column;
        gap: 0.5em;

        p {
            font-family: $pFont;
        }

        div {
            button {
                color: white;
                font-size: 10px;
                padding: 4px 10px;
                border: none;
                border-radius: 3px;
                cursor: pointer;

                &:first-child {
                    background-color: $lightBlue;
                }

                &:nth-child(2) {
                    background-color: $blue;
                }
            }
        }
    }
    img {
        width: 100%;
        margin-bottom: 2em;
    }
}