.loginContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    padding: 2em;
    border-radius: 8px;
    width: 300px;

    h2 {
        font-size: 1px;
        margin-bottom: 0.5em;
    }
    .loginForm {
        display: flex;
        flex-direction: column;
        gap: 1em;
        width: 90%;

        div {
            display: flex;
            flex-direction: column;
            gap: 0.5em;
        }

        label {
            font-size: $pSize;
        }

        input {
            padding: 4px;
            border: 1px solid;
            border-radius: 4px;
            
        }

        button {
            color: white;
            font-size: 10px;
            padding: 4px 10px;
            border: none;
            border-radius: 3px;
            background-color: $blue;
            cursor: pointer;
            width: fit-content;
        }
    }
}