.accountContainer {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 90%;
    gap: 1em;

    h1 {
        text-align: center ;
    }

    .taskContainer {
        display: flex;
        flex-direction: column;
        gap: 0.5em;

        
        .buttonsContainer {
            display: flex;
            width: 100%;
            justify-content: space-between;

            ul {
                display: flex;
                flex-direction: column;
                gap: 0.5em;

                div {
                    display: flex;
                    align-content: center;
                    justify-content: space-between;
                    gap: 0.5em;
                    width: 100%;

                    input {
                        cursor: pointer;
                    }
                }
            }
        }
        .buttons {
            display: flex;
            align-items: center;
            justify-content: space-between;


            button {
                margin: 0.5em;
                border: 0px;
                border-radius: 5px;
                padding: 5px;
                cursor: pointer;
                color: white;

                &:first-of-type {
                    background-color: #4CAF50;
                }
                &:nth-of-type(2) {
                    background-color: $blue;
                }
                &:nth-of-type(3) {
                    background-color: #f44336;
                }
            }
        }
    }
}