$blue: #6586FE;
$lightBlue: #8DA7FC;
$white: #fff;
$gray: #ccc;
$borderGray: #cfcfcf;
$gold: #d4af37;
$silver: #a9a9a9;
$bronze: #cd7f32;
$text-dark: #333;




$pFont: "JetBrains Mono", monospace;
$allFonts: "Nunito", sans-serif;
$h1Size: 24px;
$h2Size: 18px;
$pSize: 10px;


$containerMargin: 1em;
$space-xs: 6px;
$space-sm: 10px;
$space-md: 15px;
$space-lg: 16px;
$space-xl: 20px;

$radius-sm: 6px;
$radius-md: 8px;
$radius-pill: 30px;