* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import 'variables';

h1 {
    font-size: $h1Size;
    font-family: $allFonts;
}
h2 {
    font-size: $h2Size;
    font-family: $allFonts;
}
p {
    font-size: $pSize;
    font-family: $pFont;
}

@import 'register';
@import 'index';
@import 'login';
@import 'usertasks';

@import 'layout';